/* DraggableColumn.css */

.draggable-column {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px dashed #ddd;
  width: auto;
  min-width: 400px;
  height: auto;
  cursor: grab;
}

.draggable-column .column11, .column12 {
  display: flex;
}

.draggable-column .column11 .draggable-item, .column12 .draggable-item {
  min-width: 120px;
}

.column-title {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.draggable-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  min-height: 80px;
  height: auto;
  margin-right: 5px;
}

.resizable-handle {
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
  background: transparent;
}
